/* Base Styles */
.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p {
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 105px;
}

.hero-latest-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .hero-left {
        padding-left: 0;
        text-align: center;
        align-items: center;
    }

    .hero-left p {
        font-size: 80px;
    }

    .hero-left h2 {
        font-size: 24px;
    }

    .hero-hand-icon img {
        width: 85px;
    }

    .hero-latest-button {
        width: 280px;
        height: 60px;
        font-size: 20px;
    }

    .hero-right {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 768px) {
    .hero-left p {
        font-size: 60px;
    }

    .hero-left h2 {
        font-size: 22px;
    }

    .hero-hand-icon img {
        width: 75px;
    }

    .hero-latest-button {
        width: 250px;
        height: 55px;
        font-size: 18px;
    }

    .hero-right {
        margin-bottom: 150px; /* Increased margin to create space */
    }
}

@media screen and (max-width: 480px) {
    .hero {
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .hero-left p {
        font-size: 40px;
    }

    .hero-left h2 {
        font-size: 20px;
    }

    .hero-hand-icon img {
        width: 60px;
        margin-bottom: 150px; 
    }

    .hero-latest-button {
        width: 220px;
        height: 50px;
        font-size: 16px;
    }

    .hero-right {
        margin-bottom: 150px; 
    }
}
