/* Base Styles */
.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1024px) {
    .popular h1 {
        margin-top: 60%;
        font-size: 40px;
    }

    .popular-item {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .popular h1 {
        font-size: 36px;
        font-size: 40px;
    }

    .popular-item {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .popular {
        height: auto;
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .popular h1 {
        font-size: 28px;
        font-size: 40px;
    }

    .popular hr {
        width: 150px;
        height: 4px;
    }

    .popular-item {
        flex-direction: column;
        align-items: center;    
        gap: 10px;
    }

    .popular {
        height: auto;
        padding: 15px;
    }
}
